/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* images font 100% de leur container */
   .pricing img , .price img
   {
     width: 100%;
   }

/* DEBUT REGLAGE BARRE DE NAVIGATION */

.price
{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
}

nav
{
  text-decoration: none;
  width: 100%;
  height: 80px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .05);
  align-items: baseline;
  background-color: white;
  flex-wrap: wrap;

}

/* Reglage de la liste à gauche de la nav */
.navbar-toggler-right
{
  left: 1rem;
  position: relative;
  border-style: none;
  font-size: 1.5em;
}

/* Réglage des boutons à droite de la nav */
.bouton a
{
  padding: 10px 25px;
  border-radius: 30px 30px;
  background-color: orange;
  color: white;
}

/* container du logo Quiver */
.price figure
{
  width: 3em;
}

/* FIN DES REGLAGES DE LA BARRE NAV VERSION MOBILE */
/* Section dégradée */
.pricing
{
  height: 100vh;
  background-image: linear-gradient(#4157E7, #41E1E7);
  color: white;
}

/* Réglage des textes explicatifs page dégradée */
.centre
{
  text-align: center;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.centre p
{
  margin-top: 30vh;
}

.tablette
{
  display: none;
}


/*start of the div class newsletter*/
  .newsletter
  {
    background-color: #F6F9F9;
    height: 160px;
    padding: 1em;
    padding-top: 2em;
  }

  .email hr
  {
    background-color: #18e2bf;
    width: 90%;
  }

  .email input
  {
    border: none;
    background-color: #F6F9F9;
    color: #18e2bf;
    font-size: 28px;
    border-bottom : 2px solid #1FE2CB;
    width: 90%;
    font-family: 'Avenir LT Std 95 Black'
  }

  .email input:hover
  {
    font-size: 12px;
    color: #B2D3D9;
  }

  .email
  {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .newsletter p
  {
    color: #7c8a96;
    font-family: 'Avenir LT Std 35 Light';
    font-size: 16px;
  }
  /*end of the div class newsletter*/


  /*rules div class appfoll*/
 .foll
 {
   margin-right: 1em;
   margin-top: 15px;
 }

  .foll a
  {
    color: #1FE2CB;
    font-size: 14px;
  }

  .app ul
  {
    list-style-type: none;
    font-family: 'Avenir LT Std 45 Book';
    font-size: 17px;
  }

  .app ul :hover
  {
    border-bottom : 2px solid #1FE2CB;
  }

.app ul li a
{
  color: black;
}

.app li
{
  margin-top: 15px;
}

.appfoll
{
 display: flex;
 justify-content: space-between;
 padding-top: 3em;
 padding-bottom: 3em;
}

.appfoll a
{
  text-decoration: none;
}

.foll p
{
  color: #7c8a96;
  font-size: 12px;
}

.foll p , .foll a
{
  font-family: 'Avenir LT Std 45 Book';
}
/*end rules div class appfoll*/



/* ------------------- SECTION PRIX ----------------- */
.prix
{
  display: flex;
  justify-content: center;
  margin: 50px auto;
  margin-bottom: 0;
  flex-wrap: wrap;
  background-color: #F6F9F9;
}

.info
{
  margin: 20px 0;
  padding: 0 20px;
  max-width: 350px;
}
.info ul
{
  list-style: none;
  line-height: 4em;
}

/* Bouton "view details" */
.info p a 
{
  width: 310px;
  height: 54px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-color: transparent;
  padding-top: 15px;
  padding-left: 110px;
  background-color: #C8CDD6;
  color: #3B4ECC;
}

.info p a:hover
{
  background-color: #C8CDD6;
  color: #3B4ECC;
  border-color: transparent;
}


.top
{
  text-align: center;
  height: 300px;
  min-height: 300px;
  border-radius: 4px 4px 0 0;
  color: white;
}

.top h2
{
  margin-top: 60px;
  font-size: 4em;
  margin-bottom: 50px;
}

.top a
{
  border: 2px solid white;
  border-radius: 30px 30px;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
}
.down
{
  padding: 35px 30px;
  border-radius: 0 0 4px 4px;
  vertical-align: baseline;
  color: #7c8a96;
  background-color: white;
  flex-direction: column;
}
.card
{
  border-color: transparent;
}
.prix .btn 
{
border-top-right-radius: 0px;
border-top-left-radius: 0px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
}

.gris, .gris a
{
  background-color: #dae1eb;
  color: #3b4ecc;
  border-color: #3b4ecc; 
}
.gris a:hover
{
  background-color: #3b4ecc;
  color: white;
  text-decoration: none;
}

.bleu
{
  background-color: #6d98e6;
}
.bleu a:hover
{
  color: #6d98e6;
  background-color: white;
  border-color: white;
}

.marine
{
  background-color: #3b4ecc;
}
.marine a:hover
{
  color: #3b4ecc;
  background-color: white;
  border-color: white;
}

.orange
{
  background-color: #f79e02;
}
.orange h3
{
  color: #FBCF81;
  font-size: 17px;
  padding-bottom: 2.8em;
  margin-top: 3em;
}

.orange a:hover
{
  color: #f79e02;
  background-color: white;
  border-color: white;
}

/* Titres dans l'ordre des ul de presentation des prix */
.titre1
{
  color: #91a4bf;
}
.titre2
{
  color: #6d98e6;
}

.titre3
{
  color: #3b4ecc;
}

.titre4
{
  color: #f79e02;
}

/* Degrade des listes de prix*/
.clair1
{
  color: #C1C8CD;
}

.clair2
{
  color: #CBD1D6;
}

.clair3
{
  color: #D5D9DD;
}

.clair4
{
  color: #DFE2E5;
}


/* ------ CAROUSEL -------- */
/* Paragraphe du carousel */
.carousel-caption p
{
  color: black;
  font-size: 20px;
  margin-top: 1.8em;
}

/* Taille du carousel */
.carousel
{
  max-height: 550px;
 min-height: 530px;
 margin-top: 0;
}

/* Image du carousel */
.carousel .img-fluid
{
  width: 100%;
  height: 530px;
}

/* CAROUSEL PARTIE JULIE */
.tablette
{
  display: none;
}
.mobile
{
  display: flex;
}

/* Réglage des textes sur les photos carousel */
.carousel-caption
{
  width: 75%;
  margin: auto;
  height: 80%;
  font-family: 'Stardos Stencil', cursive;
}
/* -------------- DEBUT DE LA SECTION CAESAR ----------------- */

.caesar figure
{
  width: 100%;
  margin: 0;
}
.caesar img
{
  width: 100%;
  z-index: -1;
}

/* Reglage du titre sur la photo caesar */
.caesar figure h3
{
  position: absolute;
  z-index: 0;
  color: white;
  text-align: center;
  padding-top: 30%;
  padding-left: 15%;
  font-size: 4.5em;
  line-height: 1.5em;
  font-family: 'Stardos Stencil', cursive;
}

.caesar article
{
  background-image: linear-gradient(#F2403B, #EF4727);
  padding: 4em;
  color: white;
}
.caesar article h2
{
  margin-top: 2em;
}

.caesar article p
{
  margin-top: 4em;
}

/* SECTION GOOD */
.good
{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 2em;
}

/* SECTION KING */

.king figure
{
  width: 100%;
}

/* Icones profit et université */
.profit
{
  display: flex;
  justify-content: space-around;
}

/* reglage des lien "contact us"*/
.ctc
{
  color: orange;
}

/* Fond gris bas de page */
.light
{
  background-color: #F6F9F9;
  margin: 0;
}

/* Section liste principale */
.responds
{
  text-align: center;
  line-height: 3em;
}

/*ivan commun rules*/

.whiteivan h3, .blackivan h3, .two h3 , .homme h3,.blackivan2 h3
{
  font-size: 20px;
  color: #36454e;
  margin-bottom: 40px;
  font-family: 'Avenir LT Std 35 Light';
}

.whiteivan p, .blackivan p, .two p , .homme p,.blackivan2 p
{
  color: #7c8a96;
  font-size: 20px;
  font-family: 'Avenir LT Std 45 Book';
}

svg
{
  height: 100px;
}

.blackivan,.blackivan2
{
  background-color: rgb(40,43,51);
}

.blackivan img, .homme img,.blackivan2 img
{
  width: 90%;
}

.blackivan h3,.righttwo h3,.righttwo p,.rightblack p,.blackivan2 h3
{
  color: white;
}

.lefthomme, .righttwo
{
  background-image: linear-gradient(#F63A4F,#F14430);
}

.lefthomme h3
{
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.rightblack h3
{
  font-size: 25px;
  text-align: center;
}

/*end commun rules*/
/*start of section features ivan */
.features
{
  height: 75vh;
  background-image: linear-gradient(#F63A4F,#F14430);
}
.responds h2
{
  line-height: 0;
  margin-bottom: 1em;
}
.responds h2 img
{
  margin-bottom: 30px;
}
.responds h2, .started h2
{
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  color: #18e2bf;
  padding-top: 1em;
  padding-bottom: .75em;
}
.responds ul
{
  font-size: 40px;
  color: white;
  list-style: none;
}
.responds li a
{
  font-size: 22px;
  color: white;
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

.responds li a:hover, .responds li a:focus
{
  border: 2px solid #18e2bf;
  color: #18e2bf;
  padding: 10px 25px;
  border-radius: 30px 30px;
}

/* Section listes secondaires */
.started
{
  width: 95%;
  margin: auto;
}

.started ul
{
  margin-top: 2em;
}
.started li
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.started i
{
  color: grey;
}

.started li:hover, .started li:hover i
{
  color: #18e2bf;
}

/*start of div tel*/
.tel
{
 margin-top: 40px;
}

.vignets
{
  margin-left: 49%;
}

.vignets {
   display:none;
     }

.imageordi
{
  display: none;
}
/*end of div tel*/


/*start of ul social resaux*/

.socialreseau
{
  width: 200px;
  margin-bottom: 18%;
}

.socialreseau ul
{
  list-style: none;
}


/*end of ul social resaux*/

/*start of footer rules*/

footer
{
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  width: 90%;
}

.rightfooter h3
{
  color: #7c8a96;
  text-align: center;
  font-size: 20px;
}

.about
{
  display: flex;
  font-family: 'Avenir LT Std 45 Book';
  justify-content: space-between;
}

.follow
{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  width: 50%;
}

.about ul
{
  list-style:none;
}

.follow span
{
  color: rgb(81,245,249);
}


/*end of footer rules*/

/*------------start of media query tablette-------------*/

@media (min-width:768px) {

/*section of features*/
  .center
  {
    margin-top: 10%;
  }

  .imageordi img
  {
    width: 1000px;
  }

.tel .vignet
{
  width: 150px;
}
  /*end section of features*/

  /*start of black ivan*/

  .blackivan,.blackivan2
  {
    width: 100%;
  }

  .blackivan img,.blackivan2 img
  {
    width: 100%;
  }

  .tel img
  {
    width: 150px;
  }

.ordinateur img
{
  width: 700px;
}
  /*end of black ivan*/

}

/*------------end of media query tablette-------------*/



/*---------------------start of media query 980px----------------------------*/

@media (min-width:980px) {


.whiteivan,.blackivan,.two,.homme,.blackivan2
{
  display: flex;
}

.figureivan img,.blackivan img,.blackivan2 img
{
  width: 400px;
}

.whiteivan
{
  width: 100%;
}
}

/*----------------------end of media query 980px-----------------------------*/

/*start of media query 1280*/

@media (min-width:1280px) {

  body
  {
    margin: 1%;
  }

  .features
  {
    height: 100vh;
  }

  .center
  {
    margin-top: 0;
  }

  .center h1
  {
    font-size: 70px;
    font-family: 'Avenir LT Std 35 Light';
  }

  .tel img
  {
    width: 250px;
  }

  .ordinateur img
  {
  width: 1000px;
  }

  .touts
 {
   display: flex;
   flex-direction: row-reverse;
}

.appfoll
  {

    width: 54%;
    margin-left: 10px;
}
}

/* ########## DEBUT DU MEDIA QUERIE ########### */
@media (min-width: 950px) {
/* - - - - - - - - - PASSAGE NAV VERSION TABLETTE - - - - */
/* ajout des marges au body */
body
{
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  }

  nav
  {
    width: 100%;
    height: 80px;
    box-shadow: none;
    flex-wrap: wrap;
    background-color: transparent;
  }

.price
{
  position: relative;
}
  /* Liste à gauche de la barre */
  #navbarSupportedContent
  {
    width: auto;
  }

/* Réglage des boutons à droite de la nav */
.bouton
{
  display: flex;
}
.bouton a
{
  margin-right: 1em;
}
/* Liens de la bar de navigation */
nav a, #navbarSupportedContent a
{
  color: white;
}

/* activation de la version tablette */
  .tablette
  {
    display: flex;
  }
.mobile
{
  display: none;
}
/* FIN DE CE QU'IL FAUT RECUPERER POUR LA NAV */

/* KING BONNES AFFAIRES */
.king
{
  position: relative;
  width: 650px;
  margin: auto;
  height: 420px;
}

 /* - - - REGLAGE DE LA PARTIE ROUGE CAESAR - - - - - */
.caesar, .light
{
  display: flex;
  width: 100%;
}
.caesar
{
  max-height: 540px;
}

.caesar article
{

  width: 90%;
  padding-top: 0;
  line-height: 20px;
}
.caesar article p
{
  margin-top: 1.5em;
}
.caesar img
{
  max-height: 540px;
}
.caesar figure h3
{
  padding-top: 20%;
  padding-left: 8.5%;
  font-size: 3em;
  line-height: 1.3em;
  font-family: 'Stardos Stencil', cursive;
}

/* - - - - MISE EN FORME DU KING version tablette - - - - */
.good 
{
display: flex;
width: 100%;
align-items: center;
margin-bottom: 2em;
}

.causes, .profit
{
  width: 20%;
}
.causes 
{
  text-align: left;
}

.king figure
{
  width: 100%;
  margin-top: 3em;
}

.king figure img
{
  width: 100%;
}

.profit
{
  display: flex;
  flex-direction: column;

}

/* - - - - REGLAGE DES LISTES EN BAS DE PAGE - - - - - */
.responds
{
  width: 50%;
}
.responds
{
  position: sticky;
  top: 0;
  height: 35em;
}
}
/* FIN DU MEDIA QUERIE */

  /*rules sana*/
/*start of the page home*/

  /*rules common*/
  .torse
  {
    margin : 0;
  }
  /*end rules common*/


  /*rules nav class home*/
  .home
  {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 2em;
  }

  .home article
  {
    width: auto;
  }

  .home li
  {
    list-style-type: none;
    display: inline-block;
  }

  .home a
  {
    text-decoration: none;
    margin-right: 2em;
    color: white;
    font-family: 'Avenir LT Std 65 Medium';
    font-size: 20px;
  }

  .home a:hover
  {
    color: #99E9F9;
  }

  .home figure
  {
    width: 3em;
  }

  .tonbou .sig
  {
    background-color: white;
    color: #14C7EB;
  }

  .tonbou .sig:hover
  {
    color: white;
    background-color: #14C7EB;
    border: solid 1px white;
  }

  .tonbou .down
  {
    background-color: transparent;
  }
  /*end rules nav class home*/



  /*start section class accueil  */
  .accueil img
  {
    width: 100%;
  }

  .accueil
  {

    background: url(../img/home-alone.png)#14C7EB;
    background-size: 140vh;
    background-position: top;
    background-repeat: no-repeat;
    color: white;

  }
  /*end section class accueil*/

  /*start article class tonbou*/
  .tonbou a
  {
    padding: 10px 25px;
    border-radius: 30px 30px;
    background-color: orange;
  }
  /*end article class tonbou*/

  /*start article class fullscre*/
  .fullscre
  {
    text-align: center;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 7em;
  }

  .fullscre span
  {
    background-color: #14C7EB;
    border: solid white 1px;
    font-size: 20px;
    padding: 5px;
  }

  .fullscre p
  {
    margin-top: 2em;
  }

  .click
  {
    background-color: white;
    width: 80%;
    color: #878D96;
  }

 .click1
  {
    background-color: orange;
    width: 80%;
    color: white;
  }

.click1:hover
{
  background-color: #14C7EB;
  color: white;
  border-color: white;
}

  .click , .click1
  {
    padding: 10px 25px;
    border-radius: 30px 30px;
    margin-bottom: 1em;
  }

  .fullscre h1
  {
    font-size: 34px;
  }

  .fullscre h3
  {
    font-family: 'Avenir LT Std 35 Light';
    font-size: 20px;
  }

  .fullscre h3 span
  {
    font-size: 12px;
  }

  .fullscre p
  {
    font-size: 17px;
  }

  .join .click
  {
    font-family: 'Avenir LT Std 45 Book';
  }

  .fullscre h1 , .fullscre p , .join .click1
  {
    font-family: 'Avenir LT Std 95 Black';
  }
  /*end article class fullscre*/

/*end of the page home*/

/*rules page download*/
/*rules section class download*/
.download img
/*start of section features ivan */
.features
{
  height: 100vh;
  background-image: linear-gradient(#F63A4F,#F14430);
  color: white;
}

.features img
{
  width: 100%;
}


.download
{
  background-color: #00E7DA;
  color: white;
}
/*end rules section class download*/


/*rules article class trecen*/
.trecen
{
  margin-top: 4em;
}

.trecen figure img
{
  height: 90px;
  width: 90px;
}

.coming
{
  background-color: #99E9F9;
  color: #00E7DA;
  border-radius: 18px;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: 'Avenir LT Std 95 Black';
}

.coming:hover
{
  color: #00E7DA;
}

.getit
{
  background-color: white;
  color: #00E7DA;
  border-radius: 18px;
  margin-bottom: 2em;
  margin-top: 2em;
  font-family: 'Avenir LT Std 95 Black';
}

.getit:hover
{
  color: white;
  background-color: #00E7DA;
  border: solid 1px white;
}

.windows , .mac , .beta , .android
{
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 3em;
  padding-top: 2em;
}


.windows h4 , .mac h4 , .beta h4 , .android h4
{
  margin-top: 2em;
  font-family: 'Avenir LT Std 95 Black';
  font-size: 20px;
}

.windows p , .mac p , .beta p , .android p
{
  font-family: 'Avenir LT Std 65 Medium';
  font-size: 16px;
}

/*end rules article class trecen*/

/*end rules page download*/



@media (min-width:455px)
{
  /*rules page home*/

  .accueil
  {
    height: 120vh;
  }

  .fullscre h1
  {
    font-size: 38px;
  }

  .fullscre h3
  {
    font-size: 24px;
  }

  .fullscre h3 span
  {
    font-size: 14px;
  }

  .fullscre p
  {
    font-size: 20px;
  }

  .email input
  {
    font-size: 32px;
  }

  .email input:hover
  {
    font-size: 15px;
  }

  .newsletter p
  {
    font-size: 19px;
  }

  .foll a
  {
    font-size: 16px;
  }

  .app ul
  {
    font-size: 20px;
  }

  .foll p
  {
    font-size: 14px;
  }
  /*end rules page home*/
}

@media (min-width:615px)
{
  /*rules page home*/


/*rules section page accueil*/
  .accueil
  {
    height: 100vh;
  }
  /*end rules section page accueil*/


  /*rules div class foll*/
  .foll
  {
    margin-right: 10em;
  }
  /*end rules div class foll*/


/*rules article class fullscre*/
.click
{

  width: 50%;
}

.click1
{
  width: 25%;
}
/*end rules article class fullscre*/

.email input
{
  width: 50%;
}
  /*end rules page home*/
}

@media (min-width:768px)
{
  /*rules page download*/
  .windows , .beta
  {
    border-right: 1px solid white;
  }

  .beta , .android
  {
    border-bottom: 0;
  }
  /*end rules page download*/
}


@media (min-width:900px)
{
  /*rules page home*/

  /*rules common*/
  .accueil
  {
    height: 120vh;
  }

  .torse
  {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .trecen
  {
    margin-top: 4em;
  }
  /*end rules common*/

/*rules div class touts*/

  .touts
  {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .newsletter
  {
    width: 45%;
    height: auto;
    text-align: center;
    padding-top: 4em;
  }

  .foll
  {
    width: 100%;
    margin-left: 2em;
}

 .email input
 {
   width: 90%;
}

.whiteivan,.blackivan,.two,.homme
{
  margin-top: 10%;
}

.blackivan img,.figurehomme img,.blackivan2 img
{
  width: 750px;
}

.lefttwo
{
  width: 100%;
}

.marge,.rightblack
{
  margin: 2%;
}

.leftwhite,.rightwhite,.figurehomme,.righthomme
{
  width: 30%;
}

.lefthomme
{
  width: 48%;
}

.homme
{
  margin-right: 8%;
}

.lefttwo
{
  width: 80%;
}

.two
{
  margin-left: 8%
}

.rightblack
{
  width: 38%;
}
}


/*end of media query 1280*/
  
  .app
  {
    width: 40%;
  }

  .foll
  {
    width: 40%;
    margin-left: 2em;
  }

  .newsletter
  {
    text-align: center;
    padding-top: 4em;
  }

  .email input
  {
    width: 90%;
  }
  /*end rules div class touts*/


/*rules font-size elements*/

.fullscre h1
{
  font-size: 52px;
}

.fullscre h3
{
  font-size: 30px;
}

.fullscre h3 span
{
  font-size: 19px;
}

.fullscre p
{
  font-size: 21px;
}

.email input
{
  font-size: 32px;
}

.email input:hover
{
  font-size: 15px;
}

.newsletter p
{
  font-size: 26px;
}

.foll a
{
  font-size: 18px;
}

.app ul
{
  font-size: 22px;
}

.foll p
{
  font-size: 15px;
}

/*end rules font-size elements*/

  /*end rules page home*/

@media (min-width: 950px) {
/* - - - - - - - - - PASSAGE NAV VERSION TABLETTE - - - - */
  nav
  {
    width: 100%;
    height: 80px;
    box-shadow: none;
    flex-wrap: wrap;
    background-color: transparent;
  }

.price
{
  position: relative;
}
  /* Liste à gauche de la barre */
  #navbarSupportedContent
  {
    width: auto;
  }

/* Réglage des boutons à droite de la nav */
.bouton
{
  display: flex;
}
.bouton a
{
  margin-right: 1em;
}
/* Liens de la bar de navigation */
nav a, #navbarSupportedContent a
{
  color: white;
}

/* activation de la version tablette */
  .tablette
  {
    display: flex;
  }
.mobile
{
  display: none;
}
/* FIN DE CE QU'IL FAUT RECUPERER POUR LA NAV */
}

  @media (min-width:992px)
  {
    /*rules page download*/
    .trecen
    {
      height: 100vh;
      margin-top: 3em;
    }

    .mac
    {
      border-right: 1px solid white;
    }

    .windows , .mac
    {
      border-bottom: 0;
    }
    /*end rules page download*/
  }

  /*end rules sana*/

.center
{
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.center h1
{
  font-size: 40px;
}

.center h3
{
font-size: 22px;
}

.tel img
{
  width: 70px;
}

.imageordi img
{
  width: 350px;
}

/*end of section features*/
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
