/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* images font 100% de leur container */
   .pricing img
   {
     width: 100%;
   }

/* DEBUT REGLAGE BARRE DE NAVIGATION */

.price
{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
}

nav
{
  text-decoration: none;
  width: 100%;
  height: 80px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .05);
  align-items: baseline;
  background-color: white;
  flex-wrap: wrap;

}

/* Reglage de la liste à gauche de la nav */
.navbar-toggler-right
{
  left: 1rem;
  position: relative;
  border-style: none;
  font-size: 1.5em;
}

/* Réglage des boutons à droite de la nav */
.bouton a
{
  padding: 10px 25px;
  border-radius: 30px 30px;
  background-color: orange;
  color: white;
}

/* container du logo Quiver */
.price figure
{
  width: 3em;
}

/* FIN DES REGLAGES DE LA BARRE NAV VERSION MOBILE */
/* Section dégradée */
.pricing
{
  height: 100vh;
  background-image: linear-gradient(#4157E7, #41E1E7);
  color: white;
}

/* Réglage des textes explicatifs page dégradée */
.centre
{
  text-align: center;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.centre p
{
  margin-top: 30vh;
}

.tablette
{
  display: none;
}

@media (min-width: 950px) {
/* - - - - - - - - - PASSAGE NAV VERSION TABLETTE - - - - */
/* ajout des marges au body */
body
{
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  }

  nav
  {
    width: 100%;
    height: 80px;
    box-shadow: none;
    flex-wrap: wrap;
    background-color: transparent;
  }

.price
{
  position: relative;
}
  /* Liste à gauche de la barre */
  #navbarSupportedContent
  {
    width: auto;
  }

/* Réglage des boutons à droite de la nav */
.bouton
{
  display: flex;
}
.bouton a
{
  margin-right: 1em;
}
/* Liens de la bar de navigation */
nav a, #navbarSupportedContent a
{
  color: white;
}

/* activation de la version tablette */
  .tablette
  {
    display: flex;
  }
.mobile
{
  display: none;
}
/* FIN DE CE QU'IL FAUT RECUPERER POUR LA NAV */

/* KING BONNES AFFAIRES */
.king
{
  position: relative;
  width: 650px;
  margin: auto;
  height: 420px;
}
/*Version mobile */
.king figure
{
  display: none;
}

.corps
{
  position: absolute;
  width: 370px;
  height: 370px;
  top:28px;
  left: 142px;
  background: url(../img/good_body.svg) no-repeat center;
}

.brasgauche, .brasdroit
{
  position: absolute;
  width: 257px;
  height: 64px;
  top: 220px;
}
.brasgauche
{
  background: url(../img/good_left_bras.svg) no-repeat center;
  left: 11px;
}
.brasdroit
{
  background: url(../img/good_right_bras.svg) no-repeat center;
  right: 12px;
}
.tete
{
  position: absolute;
  width: 151px;
  height: 195px;
  top: 2px;
  left: 249px;
  background: url(../img/good_head.svg) no-repeat center;
}

.caesar, .light
{
  display: flex;
  width: 100%;
}
.caesar
{
  justify-content: center;
}
/*.caesar article, .caesar figure
{
  height: 649px;
  min-height: 649px;
  width: 50%;

}*/
.responds
{
  width: 50%;
}
.responds h2
{
  position: sticky;
  top: .2em;
}
 .responds ul
 {
   position: sticky;
   top: 9em;
 }
}
/* ------------------- SECTION PRIX ----------------- */
.prix
{
  display: flex;
  justify-content: center;
  margin: 50px auto 50px auto;
  flex-wrap: wrap;
  background-color: #F6F9F9;
}
.info
{
  margin: 20px 0;
  padding: 0 20px;
  max-width: 350px;
}
.info ul
{
  list-style: none;
  line-height: 4em;
}

.top
{
  text-align: center;
  height: 300px;
  min-height: 300px;
  border-radius: 4px 4px 0 0;
  color: white;
}

.top h2
{
  margin-top: 60px;
  font-size: 5em;
  margin-bottom: 50px;
}
.top a
{
  border: 2px solid white;
  border-radius: 30px 30px;
  color: white;
  padding: 10px 25px;
}
.down
{
  padding: 35px 30px;
  border-radius: 0 0 4px 4px;
  vertical-align: baseline;
  color: #7c8a96;
  background-color: white;
}

.gris
{
  background-color: #dae1eb;
  color: #3b4ecc;
}
.bleu
{
  background-color: #6d98e6;
}

.marine
{
  background-color: #3b4ecc;
}
.orange
{
  background-color: #f79e02;
}
.titre1
{
  color: #91a4bf;
}
.titre2
{
  color: #6d98e6;
}

.titre3
{
  color: #3b4ecc;
}

.titre4
{
  color: #f79e02;
}
/* ------ CAROUSEL -------- */
.carousel p
{
  color: black;
  padding-top: 2em;
}
.carousel
{
 height: 300px;
}
/* -------------- DEBUT DE LA SECTION CAESAR ----------------- */

.caesar figure
{
  width: 100%;
  margin: 0;
}
.caesar img
{
  width: 100%;
  z-index: -1;
}

/* Reglage du titre sur la photo caesar */
.caesar figure h3
{
  position: absolute;
  z-index: 0;
  color: white;
  text-align: center;
  padding-top: 20%;
  padding-left: 10%;
  font-size: 3em;
  line-height: 1.5em;
}

.caesar article
{
  background-image: linear-gradient(#F2403B, #EF4727);
  padding: 4em;
  color: white;
}
.caesar article h2
{
  margin-top: 2em;
}

.caesar article p
{
  margin-top: 4em;
}

/* SECTION GOOD */
.good
{
  width: 80%;
  margin: auto;
  text-align: center;
  height:
}

/* SECTION KING */

.king figure
{
  width: 100%;
}

/* Icones profit et université */
.profit
{
  display: flex;
  justify-content: space-around;
}

/* Fond gris bas de page */
.light
{
  background-color: #F6F9F9;
  margin: 0;
}

/* Section liste principale */
.responds
{
  text-align: center;
  line-height: 3em;
}
.responds h2
{
  line-height: 0;
  margin-bottom: 1em;
}
.responds h2 img
{
  margin-bottom: 30px;
}
.responds h2, .started h2
{
  text-align: center;
  color: #18e2bf;
  padding-top: 1em;
  padding-bottom: .75em;
}
.responds ul
{
  list-style: none;
}
.responds li a
{
  text-decoration: none;
  color: grey;
  font-weight: bold;
}
.responds li a:hover, .responds li a:active
{
  border: 2px solid #18e2bf;
  color: #18e2bf;
  padding: 10px 25px;
  border-radius: 30px 30px;
}

/* Section listes secondaires */
.started
{
  width: 95%;
  margin: auto;
}

.started ul
{
  margin-top: 2em;
}
.started li
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.started i
{
  color: grey;
}

.started li:hover, .started li i:hover
{
  color: #18e2bf;
}

footer
{
  margin: auto;
  width: 90%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
