/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  }

/* images font 100% de leur container */
   .pricing img
   {
     width: 100%;
   }
.pricing
{
  height: 100vh;
  background-image: linear-gradient(#4157E7, #41E1E7);
  color: white;
}
/* Réglage de la premiere section de la page */
.price
{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 1em;
}
.price article
{
  width: auto;
}

/* Liste de la nav */
.price li
{
  list-style-type: none;
  display: inline-block;
}
.price a
{
  text-decoration: none;
  margin-right: 2em;
  color: white;
}
/* Fin reglage liste nav */
.bouton a
{
  padding: 10px 25px;
  border-radius: 30px 30px;
  background-color: orange;
}
/* container du logo Quiver */
.price figure
{
  width: 3em;
}

/* Réglage des textes explicatifs haut de page */
.centre
{
  text-align: center;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.centre p
{
  margin-top: 30vh;
}







































































































































































































































  /*rules sana*/

/*start of the page home*/



  /*rules common*/
  .torse
  {
    margin : 0;
  }
  /*end rules common*/


  /*rules nav class home*/
  .home
  {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: fixed;
    top: 0;
  }

  .home article
  {
    width: auto;
  }

  .home li
  {
    list-style-type: none;
    display: inline-block;
  }
  .home a
  {
    text-decoration: none;
    margin-right: 2em;
    color: white;
  }

  .home figure
  {
    width: 3em;
  }

  /*end rules nav class home*/



  /*start section class accueil  */
  .accueil img
  {
    width: 100%;
  }

  .accueil
  {

    background: url(../img/home-alone.png)#14C7EB;
    background-size: 140vh;
    background-position: top;
    background-repeat: no-repeat;
    color: white;

  }



  /*end section class accueil*/




  /*start article class tonbou*/
  .tonbou a
  {
    padding: 10px 25px;
    border-radius: 30px 30px;
    background-color: orange;
  }
  /*end article class tonbou*/




  /*start article class fullscre*/
  .fullscre
  {
    text-align: center;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 7em;
  }

  .fullscre span
  {
    background-color: #14C7EB;
    border: solid white 1px;
    font-size: 20px;
    padding: 5px;
  }

  .fullscre p
  {
    margin-top: 2em;
  }

  .click
  {
    background-color: white;
    width: 80%;
    color: #878D96;
  }

 .click1
  {
    background-color: orange;
    width: 80%;
    color: white;
  }

.click1:hover
{
  background-color: #14C7EB;
  color: white;
  border-color: white;
}

  .click , .click1
  {
    padding: 10px 25px;
    border-radius: 30px 30px;
    margin-bottom: 1em;
  }

  .fullscre h1
  {
    font-size: 34px;
  }

  .fullscre h3
  {
    font-family: 'Avenir LT Std 35 Light';
    font-size: 20px;
  }

  .fullscre h3 span
  {
    font-size: 12px;
  }

  .fullscre p
  {
    font-size: 17px;
  }

  .join .click
  {
    font-family: 'Avenir LT Std 45 Book';
  }

  .fullscre h1 , .fullscre p , .join .click1
  {
    font-family: 'Avenir LT Std 95 Black';
  }
  /*end article class fullscre*/


/*start of the div class newsletter*/
  .newsletter
  {
    background-color: #F6F9F9;
    height: 160px;
    padding: 1em;
    padding-top: 2em;
  }

  .email hr
  {
    background-color: #18e2bf;
    width: 90%;
  }

  .email input
  {
    border: none;
    background-color: #F6F9F9;
    color: #18e2bf;
    font-size: 28px;
    border-bottom : 2px solid #1FE2CB;
    width: 90%;
    font-family: 'Avenir LT Std 95 Black'
  }

  .email input:hover
  {
    font-size: 12px;
    color: #B2D3D9;
  }

  .email
  {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .newsletter p
  {
    color: #7c8a96;
    font-family: 'Avenir LT Std 35 Light';
    font-size: 16px;
  }
  /*end of the div class newsletter*/


  /*rules div class appfoll*/
 .foll
 {
   margin-right: 1em;
   margin-top: 15px;
 }

  .foll a
  {
    color: #1FE2CB;
    font-size: 14px;
  }

  .app ul
  {
    list-style-type: none;
    font-family: 'Avenir LT Std 45 Book';
    font-size: 17px;
  }

  .app ul :hover
  {
    border-bottom : 2px solid #1FE2CB;
  }

.app ul li a
{
  color: black;
}

.app li
{
  margin-top: 15px;
}

.appfoll
{
 display: flex;
 justify-content: space-between;
 padding-top: 3em;
 padding-bottom: 3em;
}

.appfoll a
{
  text-decoration: none;
}

.foll p
{
  color: #7c8a96;
  font-size: 12px;
}

.foll p , .foll a
{
  font-family: 'Avenir LT Std 45 Book';
}
/*end rules div class appfoll*/


/*end of the page home*/


@media (min-width:455px)
{
  /*rules page home*/

  .accueil
  {
    height: 120vh;
  }


  .fullscre h1
  {
    font-size: 38px;
  }

  .fullscre h3
  {
    font-size: 24px;
  }

  .fullscre h3 span
  {
    font-size: 14px;
  }

  .fullscre p
  {
    font-size: 20px;
  }

  .email input
  {
    font-size: 32px;
  }

  .email input:hover
  {
    font-size: 15px;
  }

  .newsletter p
  {
    font-size: 19px;
  }

  .foll a
  {
    font-size: 16px;
  }

  .app ul
  {
    font-size: 20px;
  }

  .foll p
  {
    font-size: 14px;
  }
  /*end rules page home*/
}




@media (min-width:615px)
{
  /*rules page home*/


/*rules section page accueil*/
  .accueil
  {
    height: 100vh;
  }
  /*end rules section page accueil*/


  /*rules div class foll*/
  .foll
  {
    margin-right: 10em;
  }
  /*end rules div class foll*/


/*rules article class fullscre*/
.click
{

  width: 50%;
}

.click1
{
  width: 25%;
}
/*end rules article class fullscre*/

.email input
{
  width: 50%;
}


  /*end rules page home*/

}







@media (min-width:900px)
{
  /*rules page home*/

  /*rules common*/
  .torse
  {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
  /*end rules common*/

/*rules div class touts*/

  .touts
  {
    display: flex;
    flex-direction: row-reverse;
  }

  .appfoll
  {
    flex-wrap: wrap;
    width: 54%;
    margin-left: 10px;
  }

  .newsletter
  {
    width: 45%;
    height: auto;
  }


  .foll
  {
    width: 100%;
    margin-left: 2em;
  }

  .newsletter
  {
    text-align: center;
    padding-top: 4em;
  }

  .email input
  {
    width: 90%;
  }
  /*end rules div class touts*/


/*rules font-size elements*/

.fullscre h1
{
  font-size: 52px;
}

.fullscre h3
{
  font-size: 30px;
}

.fullscre h3 span
{
  font-size: 19px;
}

.fullscre p
{
  font-size: 21px;
}

.email input
{
  font-size: 32px;
}

.email input:hover
{
  font-size: 15px;
}

.newsletter p
{
  font-size: 26px;
}

.foll a
{
  font-size: 18px;
}

.app ul
{
  font-size: 22px;
}

.foll p
{
  font-size: 15px;
}

/*end rules font-size elements*/

  /*end rules page home*/

  /*end rules sana*/



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
